.nav {
  position: sticky;
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user {
  display: flex;
  justify-content: center;
  align-items: center;
}

.linkContainer {
  margin-top: 1rem;
}

.pageLink {
  margin-left: 3rem;
  margin-right: 3rem;
}

.title {
  color: black;
  font-size: 2rem;
}

.title :hover {
  cursor: pointer;
}

.highlight {
  color: pink;
}

.highlight :hover :focus :active {
  text-decoration: underline;
}
