.wrapper {
  width: 60%;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.title {
  color: red;
}

.hearted {
  background: red;
}

.notHearted {
  background: blue;
}
